* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    transition: background-color 0.3s ease;
}

body.light-mode, body.light-mode a {
    background-color: #fff;
    color: #1a1a1a;
}

body.light-mode .title {
    color: #1a1a1a;
}

body.light-mode #mode-icon {
    color: orange;
}

body.light-mode .tool {
    color: #1a1a1a;
}

h1, h2 {
    font-size: 2.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

i {
    font-size: 1.6rem;
}

i:hover {
    cursor: pointer;
}

a {
    font-size: 1.02rem;
    color: #86bee2;
    text-decoration-thickness: 3px;
}

nav a {
    margin-left: 5px;
}

p, h3 {
    margin: 10px 0px;
    line-height: 1.5;
}

p, a {
    font-size: 1.1rem;
}

#mode-icon {
    color: orange;
}

.container {
    width: 85%;
    max-width: 600px;
    margin: 30px auto;
}

.main {
    margin: 20px 0;
}

.title {
    font-weight: bold;
    font-size: 1.1rem;
    color: #86bee2;
}

.blog-link {
    text-decoration-color: #86bee2;
    font-weight: 500;
}

.project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid #333232;
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin: 10px 0px;
    padding: 0px 20px 10px;
    overflow: hidden;
}

.tool {
    background-color: #fdc570;
    color: #1a1a1a;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 600;
    font-size: .7rem;
}

.image-container {
    border: 3px solid #1a1a1a;
    border-radius: 4px;
    margin-top: 10px;
    padding: 0px;
    height: 230px;
    width: 100%;
    overflow: hidden;
}

.project-img {
    width: 100%;
    padding: 20px 0px;
    animation: scroll-image 6s linear infinite;
}

@keyframes scroll-image {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(calc(200px - 100%));
    }
}

.project-text h3 {
    font-size: 1.3rem;
}

.project-links {
    margin: 10px 0px;
}

.project-links a {
    margin-right: 10px;
    font-weight: 600;
}

.contact, .project {
    margin-top: 50px;
}

.contact-link {
    font-weight: bold;
}

.social {
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.7rem;
}

.footer {
    margin-top: 60px;
    border-top: 1px solid lightgray;
    text-align: center;
    padding: 3px;
    font-size: 1.02rem;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .project-card {
        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
}